<app-header>
    <button type="button" mat-icon-button (click)="drawer.toggle()">
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </app-header>
  
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <!-- <app-tshirt-cart [tshirtList]="addedTshirtList"></app-tshirt-cart> -->
      <app-tshirt-cart />
    </mat-drawer>
  
    <!-- <app-tshirt-catalog (addTshirtToCart)="addTshirtToCart($event)"></app-tshirt-catalog>
  
    <app-tshirt-create /> -->
    <router-outlet />
  </mat-drawer-container>
  
  <!-- <h1>Hello, {{ title }}</h1> -->