<!-- <div *ngIf ="clothesList.length > 0; else emptyList">
      <mat-card *ngFor="let clothes of clothesList">
        <mat-card-header>
          <mat-card-title>{{ clothes.nome }}</mat-card-title>
          <mat-card-subtitle>{{ clothes.preco }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            {{ clothes.descricao }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>COMPRAR</button>
          <button mat-button>FAVORITAR</button>
        </mat-card-actions>
      </mat-card> 
    </div>
  
    <ng-template #emptyList> <p>O estoque de roupas está vazio!</p> </ng-template>
  -->
    

  @for(clothes of clothesList; track clothes.id) {
    <app-clothes-card [clothes]="clothes" teste="teste" 
    (addClothesToCart)="warnAboutAddClothesToCart(clothes)"></app-clothes-card>
  } @empty {
    <p>O estoque de roupas está vazio!</p>
  }

  <app-clothes-card> </app-clothes-card>